PORT=4173
MATT_MINE_CHAIN_ID=202601
MATT_MINE_PUBLIC_ORIGIN=http://localhost:4173
MATT_MINE_DATA_FILE=data/matt-mine-store.json
# Leave unset until a private admin service is configured.
# MATT_MINE_ADMIN_KEY=
